// Import and Variables

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&family=Shrikhand&display=swap");

// font-family: "Roboto", sans-serif;
// font-family: "Shrikhand", cursive;

$primary-color: #9356dc;
$secondary-color: #ff79da;
$tertiary-color: #99e2d0;
$footer-color: #353535;
$light-bg-color: #f6f6f6;
$direction: row;
// $dish-color: #99e2d0;

@mixin center-flex($direction) {
  display: flex;
  flex-direction: $direction;
  align-items: center;
  justify-content: center;
}
@mixin space-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

// Utilities
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

// Base Styles
body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  position: relative;
  color: #333;
  background-color: #333;
}
.max-container {
  max-width: 1200px;
  margin: auto;
  background-color: #fff;
}
.load-animation {
  content: "";
  position: fixed;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 100;
  opacity: 1;
  animation: load-animation 0s 3s forwards;
}

.loader {
  width: 150px;
  height: 150px;
}
svg {
  width: 90%;
  fill: none;
}

.load {
  transform-origin: 50% 50%;
  stroke-dasharray: 570;
  stroke-width: 20px;
  &.one {
    stroke: $primary-color;
    animation: load 1.5s infinite;
  }
  &.two {
    stroke: $tertiary-color;
    animation: load 1.5s infinite;
    animation-delay: 0.1s;
  }
  &.three {
    stroke: $secondary-color;
    animation: load 1.5s infinite;
    animation-delay: 0.2s;
  }
}

.point {
  animation: bounce 1s infinite ease-in-out;
  &.one {
    fill: $secondary-color;
    animation-delay: 0s;
  }
  &.two {
    fill: $tertiary-color;
    animation-delay: 0.1s;
  }
  &.three {
    fill: $primary-color;
    animation-delay: 0.2s;
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}
@keyframes load {
  0% {
    stroke-dashoffset: 570;
  }
  50% {
    stroke-dashoffset: 530;
  }
  100% {
    stroke-dashoffset: 570;
    transform: rotate(360deg);
  }
}

@keyframes load-animation {
  1% {
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    height: 0;
    width: 0;
  }
}

h1 {
  font-weight: 500;
}

h2 {
  font-weight: 600;
}

h3 {
  font-family: "Shrikhand", cursive;
  font-weight: 100;
  padding: 1rem 0 1.5rem;
}

.fa-solid.fa-heart {
  color: $primary-color;
}

.card:hover {
  background: $secondary-color;
}
// Header
header {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  padding: 30px 20px;
  justify-items: center;
  gap: 10px;
  img {
    width: 100%;
    // position: relative;
    max-width: 300px;
    justify-self: center;
  }
  .arrow {
    font-size: 22px;
    justify-self: start;
    left: 20px;
    padding-top: 5px;
  }
}

@media (max-width: 320px) {
  header {
    .arrow {
      padding-top: 2px;
    }
  }
}

// Locate
.locate {
  height: 4rem;
  background: linear-gradient(#d8d8d8, #eaeaea);
  border-top: 3px solid #c1c1c1;
  @include center-flex(row);
  gap: 20px;
}

// CTA
#cta {
  @include center-flex(column);
  background: $light-bg-color;
  gap: 20px;
  padding: 50px 20px;
  text-align: center;

  h1 {
    padding: 0 25px;
  }

  p {
    font-weight: 300;
    font-size: 1.1rem;
  }

  .btn {
    display: inline-block;
    background: linear-gradient($secondary-color, $primary-color);
    color: #fff;
    width: 230px;
    margin-top: 20px;
    overflow: hidden;
    font-size: 1.1rem;
    text-align: center;
    padding: 1rem;
    border-radius: 40px;

    @include shadow();
    transition: opacity, 0.2s ease-in-out;

    &:hover {
      opacity: 0.8;
    }
    a {
      color: inherit;
    }
  }
}

// Fonctionnement
#fonctionnement {
  background: #fff;
  margin-bottom: 50px;
  h2 {
    margin: 40px 20px 30px 20px;
  }
  .steps {
    font-size: 1.4rem;
    color: #333;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    gap: 25px;
    .step {
      @include shadow();
      display: flex;
      position: relative;
      gap: 20px;
      padding: 25px 30px;
      margin: 0 30px;
      border-radius: 20px;
      background: $light-bg-color;
      transition: background 0.2s ease-in-out;
      &:before {
        content: "";
        font-size: 0.9rem;
        position: absolute;
        left: -15px;
        top: 25px;
        display: inline-block;
        padding: 5px 10px;
        background: $primary-color;
        border-radius: 50%;
        color: #fff;
      }
      &:hover {
        background: rgba(147, 86, 220, 0.15);

        .fa-solid {
          color: $primary-color;
        }
      }
      .instruction {
        font-size: 1.1rem;
      }
      .fa-solid {
        color: #7e7e7e;
        transition: color 0.2s ease-in-out;
      }
    }
    .step-1 {
      &:before {
        content: "1";
      }
    }
    .step-2 {
      &:before {
        content: "2";
      }
    }
    .step-3 {
      &:before {
        content: "3";
      }
    }
  }
}

// Restaurants

#restaurants {
  position: relative;
  background: $light-bg-color;
  h2 {
    padding: 40px 20px 30px 20px;
  }
  .restaurants-flex {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    .restaurant {
      background: #fff;
      border-radius: 20px;
      position: relative;
      width: 90%;
      max-width: 800px;
      transition: all 0.3s ease-in-out;
      &:hover {
        opacity: 0.7;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
      }
      &:last-child {
        margin-bottom: 60px;
      }
      img {
        width: 100%;
        aspect-ratio: 2 / 1;
        border-radius: 20px 20px 0 0;
        object-fit: cover;
      }
      .restaurant-flex {
        position: relative;
        max-width: 800px;
        display: flex;
        justify-content: space-between;
        .name-location {
          padding: 1rem;
          h4 {
            margin-bottom: 5px;
          }
        }
        .heart {
          position: relative;
          font-size: 24px;
          .heart-full {
            position: absolute;
            right: 30px;
            bottom: 25px;
            opacity: 0;
            transition: opacity 0.7s ease-in-out;
          }
          .heart-empty {
            position: absolute;
            right: 30px;
            bottom: 25px;
            opacity: 1;
            transition: opacity 0.7s ease-in-out;
          }
          .check {
            width: 50px;
            height: 50px;
            z-index: 5;
            position: absolute;
            cursor: pointer;
            bottom: 20px;
            right: 2px;
            opacity: 0;
            &:checked + .heart-full {
              opacity: 1;
            }
            &:checked ~ .heart-empty {
              opacity: 0;
            }
          }
        }
      }
    }
  }
}

.nouveau::before {
  content: "Nouveau";
  position: absolute;
  display: inline-block;
  background: #a9e0d1;
  color: #3a8568;
  padding: 5px 10px;
  right: 15px;
  top: 15px;
  border-radius: 3px;
}

// Footer
footer {
  padding: 20px;
  background-color: $footer-color;
  color: #fff;

  ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    li {
      a {
        color: #fff;
        text-decoration: none;
        display: flex;
        gap: 10px;
        transition: opacity 0.2s ease-in-out;
        &:hover {
          opacity: 0.8;
        }
      }
      list-style: none;

      &:last-child {
        margin-bottom: 10px;
      }
    }
  }
}

// Restaurant Pages

.restaurant-photo {
  background: url("/img/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg")
    center center/cover;
  img {
    opacity: 0;
    width: 100%;
  }
  &.delice-photo {
    background: url("/img/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg")
      center center/cover;
  }
  &.lanote-photo {
    background: url("../img/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg") center
      center/cover;
  }
  &.francaise-photo {
    background: url("../img/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg")
      center center/cover;
  }
  &.palette-photo {
    background: url("../img/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg")
      center center/cover;
  }
}

.menu {
  padding: 10px;
  z-index: 5;
  border-radius: 20px 20px 0 0;
  margin-top: -40px;
  background: $light-bg-color;
  .title-flex {
    @include space-flex();
    padding: 20px 0 0 10px;
    h1 {
      font-family: "Shrikhand", cursive;
      font-weight: 200;
      font-size: 1.7rem;
    }
    .heart {
      font-size: 22px;
      position: relative;
      .heart-full {
        position: absolute;
        right: 25px;
        bottom: -12px;
        opacity: 0;
        transition: opacity 0.7s ease-in-out;
      }
      .heart-empty {
        position: absolute;
        right: 25px;
        bottom: -12px;
        opacity: 1;
        transition: opacity 0.7s ease-in-out;
      }
      .check {
        position: absolute;
        right: -5px;
        bottom: -20px;
        height: 50px;
        width: 50px;
        opacity: 0;
        cursor: pointer;
        z-index: 5;
        &:checked ~ .heart-empty {
          opacity: 0;
        }
        &:checked ~ .heart-full {
          opacity: 1;
        }
      }
    }
  }
}

.course {
  padding: 30px 0 0 0;
  h2 {
    text-transform: uppercase;
    font-weight: 300;
  }
  &:last-child {
    margin-bottom: 20px;
  }
}

.seperator-line {
  width: 60px;
  height: 3px;
  background-color: $tertiary-color;
  margin: 3px 0 20px;
}
.dish {
  display: flex;
  flex-direction: column;
  margin: auto;
  gap: 10px;
  max-width: 500px;
  // margin: auto;
}

.dish-title-flex {
  @include shadow();
  background: #fff;
  border-radius: 20px;
  display: flex;
  overflow: hidden;
  align-items: flex-end;
  opacity: 0;
  &:hover > .dish-title {
    width: calc(100% - 130px);
  }
}

@media (max-width: 320px) {
  .title-flex {
    flex-direction: column;
    gap: 10px;
    justify-content: flex-start;
    align-items: flex-start;
    .heart {
      left: 10%;
      padding-top: 10px;
    }
  }
}

.dish-title-flex:hover > .dish-title + .dish-price + .slide > i {
  animation: spinner 0.8s;
}

@keyframes spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(720deg);
  }
}

.peek {
  animation: peekaboo;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

// --------------------
// DELAY DURATION
// --------------------
.del1 {
  animation-delay: 0.1s;
}
.del2 {
  animation-delay: 0.2s;
}
.del3 {
  animation-delay: 0.3s;
}
.del4 {
  animation-delay: 0.4s;
}
.del5 {
  animation-delay: 0.5s;
}
.del6 {
  animation-delay: 0.6s;
}
.del7 {
  animation-delay: 0.7s;
}
.del8 {
  animation-delay: 0.8s;
}
.del9 {
  animation-delay: 0.9s;
}

@keyframes peekaboo {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.dish-title {
  width: calc(100% - 70px);
  @media (max-width: 320px) {
    width: calc(100% - 60px);
  }
  flex: none;
  padding: 0 15px;
  white-space: nowrap;
  align-self: center;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: width 0.4s ease-in-out;
  h4 {
    font-weight: 500;
    font-size: 1rem;
    @media (max-width: 320px) {
      font-size: 0.9rem;
    }
    overflow: hidden;
    text-overflow: ellipsis;
  }
  p {
    font-weight: 300;
    padding-top: 5px;
    font-size: 0.9rem;
    overflow: hidden;
    text-overflow: ellipsis;
    @media (max-width: 320px) {
      font-size: 0.8rem;
    }
  }
}
.dish-price {
  padding: 0 25px 10px 20px;
  font-weight: 500;
  @media (max-width: 320px) {
    font-size: 0.9rem;
  }
}

.slide {
  background: $tertiary-color;
  font-size: 20px;
  padding: 20px 30px 20px 20px;
  width: 200px;
  height: 100%;
  &:hover {
    cursor: pointer;
  }
}
