@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&family=Shrikhand&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}

h3 {
  font-family: "Shrikhand", cursive;
  font-weight: 100;
  padding: 1rem 0 1.5rem;
}

.card:hover {
  background: #ff79da;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 40px 0 20px;
}

.locate {
  height: 4rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#c9c6c6), to(#eaeaea));
  background: linear-gradient(#c9c6c6, #eaeaea);
  border-top: 3px solid #c1c1c1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
}

#cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #f6f6f6;
  gap: 20px;
  padding: 50px;
}

#fonctionnement {
  background: #fff;
}

#fonctionnement ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  gap: 20px;
}

#fonctionnement li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(100% - 40px);
  max-width: 700px;
  gap: 20px;
  background: #f6f6f6;
  padding: 30px 50px;
  border-radius: 20px;
}

#fonctionnement li i {
  -ms-flex-preferred-size: 20px;
      flex-basis: 20px;
}

#fonctionnement li div {
  -ms-flex-preferred-size: 300px;
      flex-basis: 300px;
}

footer {
  padding: 20px;
  background-color: #353535;
  color: #fff;
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

footer ul li {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

footer ul li:last-child {
  margin-bottom: 10px;
}
/*# sourceMappingURL=style.css.map */